<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>137257653937-q270onatm1ifnjj70kfmj6qf4oohju1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137257653937-q270onatm1ifnjj70kfmj6qf4oohju1q</string>
	<key>API_KEY</key>
	<string>AIzaSyDpyPvVxlg5QbMFaaL4ngfzJD4a6TJ_NeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>137257653937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batman.BuddyFinder</string>
	<key>PROJECT_ID</key>
	<string>projectx-bb41e</string>
	<key>STORAGE_BUCKET</key>
	<string>projectx-bb41e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:137257653937:ios:eba0e5fb4e38e1a1</string>
	<key>DATABASE_URL</key>
	<string>https://projectx-bb41e.firebaseio.com</string>
</dict>
</plist>